<br>
<br>
<br>
<div class="parent">
    <div class="card" style="width: 28rem;">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <h3 class="mb-0">
                    Cambio de Contraseña
                </h3>
            </div>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label for="passOld" class="form-control-label">Código Validación</label>
            <input placeholder="Código de validación" type="text" id="token" class="form-control form-control-alternative" />
          </div>
          <div class="mb-4">
            <label for="passNew" class="form-control-label">Nueva Contraseña</label>
            <input class="form-control form-control-alternative" placeholder="Nueva Contraseña" type="password" id="passNew" />
          </div>
          <div class="mb-4">
            <label for="passCon" class="form-control-label">Confirmar Contraseña</label>
            <input class="form-control form-control-alternative" placeholder="Confirmar Contraseña" type="password" id="passCon" />
          </div>
          <div class="row">
            <div class="col-lg-6">
              <button class="btn btn-imagina" style="width: 170px;" (click)="grabar()">
                Cambiar Contraseña
              </button>
            </div><br><br><br>
            <div class="col-lg-6">
              <button class="btn btn-imagina" style="width: 170px;" (click)="salir()">
                Salir
              </button>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="alert alert-danger" role="alert" *ngIf="flagError">
                <strong>Error!</strong> {{ msg }} 
            </div>
          </div>
          <div class="row">
            <div class="alert alert-success" role="alert" *ngIf="flagExito">
                <strong></strong> {{ msg }} 
            </div>
          </div>
        </div>
    </div>
</div>

  <!-- Modal Cargando ... -->
<div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [ngClass]="(flagLoad) ? 'modal modalApp' : 'modal fade modal-md'">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">                  
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12" style="text-align: center !important;">
                  <img src="../../../assets/img/brand/cargando.gif" alt="Espera " style="max-width: 833px; vertical-align: middle !important;">
                </div>                              
            </div>
        </div>                  
      </div>
    </div>
  </div>